<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="hospital_menu_root" name="HMS"  web_icon="hospital_management,static/description/icon.png"/>

    <menuitem id="hospital_frontdesk" name="Front desk" parent="hospital_menu_root" />
    <menuitem id="hospital_patient" name="Patients" parent="hospital_frontdesk" action="action_hospital_patient" />

    <menuitem id="hospital_doctors"  name="Hospital Employees" parent="hospital_menu_root" />
    <menuitem id="hospital_doctors_create_doctor" name="Create Doctor" parent="hospital_doctors" action="action_hospital_doctor" />
    <menuitem id="hospital_doctors_list" name="All Doctors" parent="hospital_doctors" action="action_hospital_all_doctors" />

</odoo>